{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Главная страница{% endblock %}

{% block content %}
    <img src="{% static 'main/img/photo_hero.jpg' %}" alt = "главная картинка" width="515" height="500">
    <h1>1C - разработчик</h1>
    <p>1С-разработчик — специалист, который создаёт и настраивает программные решения на платформе 1С. Он создаёт виртуальные механизмы, которые превращают сложные бизнес-процессы в удобные и эффективные инструменты.</p>
    <p>1С:Предприятие — это программная платформа, разработанная компанией 1С, предназначенная для автоматизации управления и учета на предприятиях различных отраслей. Она включает в себя: конфигурации, интерфейс пользователя, систему управления базами данных, средства разработки, интеграции.</p>
    <p>Язык 1С (иногда его называют 1С:Enterprise Script) — это специализированный язык программирования, используемый для разработки приложений на платформе 1С. </p>
    <h2>Выполняемые задачи</h2>
    <ul>
        <ul>Разработка и настройка конфигураций:
            <li>Создание новых конфигураций под конкретные требования бизнеса.</li>
            <li>Модификация существующих решений для улучшения функциональности.</li>
        </ul>
        <ul>Интеграция с другими системами:
            <li>Настройка обмена данными между 1C и другими программами (например, CRM, ERP, интернет-магазинами).</li>
            <li>Использование API для интеграции.</li>
        </ul>
        <ul>Поддержка и обслуживание:
            <li>Обновление программного обеспечения до новых версий.</li>
            <li>Исправление ошибок и решение технических проблем.</li>
        </ul>
        <ul>Консультирование пользователей:
            <li>Обучение сотрудников работе с системой</li>
            <li>Помощь в решении вопросов, связанных с использованием 1C.</li>
        </ul>
        <ul>Документация:
            <li>Создание и ведение документации по разработанным решениям.</li>
            <li>Описание бизнес-процессов и инструкций для пользователей.</li>
        </ul>
    </ul>

    <h2>Требования к 1C - разработчику</h2>
    <ul>
        <li>Знание платформы 1С:Предприятие (версии 7.7, 8.0, 8.1, 8.2 и т.д.).</li>
        <li>Умение работать с языком программирования 1С (1С:Язык).</li>
        <li>Опыт работы с базами данных (например, MS SQL, PostgreSQL).</li>
        <li>Знание основ бухгалтерского учета и бизнес-процессов.</li>
        <li>Навыки работы с системами контроля версий (например, Git).</li>
        <li>Аналитическое мышление и умение решать задачи.</li>
        <li>Коммуникабельность для взаимодействия с клиентами и пользователями.</li>
        <li>Умение работать в команде.</li>
    </ul>

    <h2>Перспективы карьеры</h2>
    <ul>
        <li>Широкий рынок: 1С является популярной платформой для автоматизации бизнеса, что создает высокий спрос на разработчиков.</li>
        <li>Разнообразие задач: Работа включает программирование, анализ бизнес-процессов и интеграцию, что позволяет развивать разные навыки.</li>
        <li>Карьерный рост: Возможности продвижения от разработчика до архитектора решений или руководителя проектов.</li>
        <li>Фриланс и удаленная работа: Множество возможностей для работы на международных клиентах.</li>
        <li>Обучение и сертификация: Доступность курсов и программ сертификации для повышения квалификации</li>
        <li>Инновации: Платформа активно развивается, создавая новые возможности для специалистов.</li>
        <li>Стабильный доход: Высокий спрос ведет к заработной плате выше средней по IT.</li>
    </ul>
{% endblock %}