{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <img src="{% static 'main/img/photo_hero.jpg' %}" alt="главная картинка" width="515" height="500">
    <h1>1C - разработчик</h1>
    <p class="main_text">1С-разработчик — специалист, который создаёт и настраивает программные решения на платформе 1С. Он создаёт виртуальные механизмы, которые превращают сложные бизнес-процессы в удобные и эффективные инструменты.</p>
    <p class="main_text">1С:Предприятие — это программная платформа, разработанная компанией 1С, предназначенная для автоматизации управления и учета на предприятиях различных отраслей. Она включает в себя: конфигурации, интерфейс пользователя, систему управления базами данных, средства разработки, интеграции.</p>
    <p class="main_text">Язык 1С (иногда его называют 1С:Enterprise Script) — это специализированный язык программирования, используемый для разработки приложений на платформе 1С.</p>

    <div class="toggle-container">
        <h2 class="toggle-header"><span class="arrow"></span> Выполняемые задачи</h2>
        <ul class="toggle-list toggle-list-number">
            <li>Разработка и настройка конфигураций:
                <ul class="toggle-list-point">
                    <li>Создание новых конфигураций под конкретные требования бизнеса.</li>
                    <li>Модификация существующих решений для улучшения функциональности.</li>
                </ul>
            </li>
            <li>Интеграция с другими системами:
                <ul class="toggle-list-point">
                    <li>Настройка обмена данными между 1C и другими программами (например, CRM, ERP, интернет-магазинами).</li>
                    <li>Использование API для интеграции.</li>
                </ul>
            </li>
            <li>Поддержка и обслуживание:
                <ul class="toggle-list-point">
                    <li>Обновление программного обеспечения до новых версий.</li>
                    <li>Исправление ошибок и решение технических проблем.</li>
                </ul>
            </li>
            <li>Консультирование пользователей:
                <ul class="toggle-list-point">
                    <li>Обучение сотрудников работе с системой</li>
                    <li>Помощь в решении вопросов, связанных с использованием 1C.</li>
                </ul>
            </li>
            <li>Документация:
                <ul class="toggle-list-point">
                    <li>Создание и ведение документации по разработанным решениям.</li>
                    <li>Описание бизнес-процессов и инструкций для пользователей.</li>
                </ul>
            </li>
        </ul>

        <h2 class="toggle-header"><span class="arrow"></span> Требования к 1C - разработчику</h2>
        <ul class="toggle-list toggle-list-point">
            <li>Знание платформы 1С:Предприятие (версии 7.7, 8.0, 8.1, 8.2 и т.д.).</li>
            <li>Умение работать с языком программирования 1С (1С:Язык).</li>
            <li>Опыт работы с базами данных (например, MS SQL, PostgreSQL).</li>
            <li>Знание основ бухгалтерского учета и бизнес-процессов.</li>
            <li>Навыки работы с системами контроля версий (например, Git).</li>
            <li>Аналитическое мышление и умение решать задачи.</li>
            <li>Коммуникабельность для взаимодействия с клиентами и пользователями.</li>
            <li>Умение работать в команде.</li>
        </ul>

        <h2 class="toggle-header"><span class="arrow"></span> Перспективы карьеры</h2>
        <ul class="toggle-list toggle-list-number">
            <li>Широкий рынок: 
                <p class="toggle-text">1С является популярной платформой для автоматизации бизнеса, что создает высокий спрос на разработчиков.</p>
            </li>
            <li>Разнообразие задач: 
                <p class="toggle-text">Работа включает программирование, анализ бизнес-процессов и интеграцию, что позволяет развивать разные навыки.</p>
            </li>
            <li>Карьерный рост: 
                <p class="toggle-text">Возможности продвижения от разработчика до архитектора решений или руководителя проектов.</p>
            </li>
            <li>Фриланс и удаленная работа: 
                <p class="toggle-text">Множество возможностей для работы на международных клиентах.</p>
            </li>
            <li>Обучение и сертификация: 
                <p class="toggle-text">Доступность курсов и программ сертификации для повышения квалификации</p>
            </li>
            <li>Инновации: 
                <p class="toggle-text">Платформа активно развивается, создавая новые возможности для специалистов.</p>
            </li>
            <li>Стабильный доход: 
                <p class="toggle-text">Высокий спрос ведет к заработной плате выше средней по IT.</p>
            </li>
        </ul>
    </div>
{% endblock %}
