{% extends 'main/layout.html' %}


{% block title %}Востребованность{% endblock %}

{% block content %}
<div class="container">
    <div class="container1">
        {% for el in image1 %}
            {% if el.img1 %}
                    <img class = gr1.1 src="{{ el.img1.url }}"  width="900" height="600">
            {% endif %}
        {% endfor %}
        <table class="table table1">
            <thead>
                <tr>
                    <th class="th1">Год</th>
                    <th class="th1">Средняя зарплата</th>
                </tr>
            </thead>
            <tbody>
                {% for el in dynamics %}
                    <tr>
                        <td class="td1">{{ el.year }}</td>
                        <td class="td1">{{ el.average_salary }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container2">
        {% for el in image2 %}
            {% if el.img2 %}
                    <img class = gr1.1 src="{{ el.img2.url }}"  width="900" height="600">
            {% endif %}
        {% endfor %}
        <table class="table table2">
            <thead>
                <tr>
                    <th class="th2">Год</th>
                    <th class="th2">Количество вакансий</th>
                </tr>
            </thead>
            <tbody>
                {% for el in dynamics_count %}
                    <tr>
                        <td class="td2">{{ el.year }}</td>
                        <td class="td2">{{ el.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}